body {
  font-size: 20px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #1e2227;
}

header {
  text-align: center;
  color: #0099d5;
}

header > * {
  margin-bottom: 0em;
}

h1 {
  font-size: 3em;
  font-weight: 800;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}